@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--bgColor);
  color: var(--fontColor);
  font-family: var(--mainFont);
  scroll-behavior: smooth;
}

/* UTILITY CLASS */
:root {
  --fontColor: #fffbfd;
  --primColor: #fff4e6;
  --secondColor: #780f1a;
  --bgColor: #351313;
  --bgColor1: #3b5998;
  --mainFont: "Lora", serif;
  --orderFont: "Montserrat", sans-serif;
  --padding-block: 10rem;

  --cardBg: #e9d8e1;
}

.flex {
  display: flex;
}

.primaryButton {
  background-color: #fff4e6;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.primaryButton {
  font-size: 2rem;
  color: black;
}

.arrow {
  color: black;
  font-size: 2rem;
}

/* --ANIMATION_SECTION-- */
.left-animation {
  transform: translatex(-100%);
}

.right-animation {
  transform: translatex(100%);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translatex(0);
}

/* NAVIGATION-SECTION*/

.navigation {
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
}

.navigation h1 a {
  font-size: 1.5rem;
}

.navigation a {
  color: var(--fontColor);
}

.nav-ul li {
  padding: 1.5rem;
  font-family: var(--orderFont);
}

.button {
  padding: 1rem;
}

.button a {
  color: black;
  border-radius: 30px;
  padding: 0.75rem;
  font-family: var(--orderFont);
  background-color: var(--primColor);
}

.button span {
  font-size: 3rem;
}

/* HERO-SECTION*/
main {
  padding-inline: 5rem;
}

.rapper {
  gap: 1rem;
}

.main-Heading {
  font-size: 2.5rem;
  word-spacing: 10px;
}

.left-Hero-section {
  flex-basis: 40%;
}

.left-Hero-section p {
  font-family: var(--orderFont);
  margin-block: 2rem;
  line-break: anywhere;
  line-height: 1.5rem;
}

.call-me {
  font-family: var(--orderFont);
  background-color: #551e1e;
  border: 1px #551e1e;
  border-radius: 10px;
  width: 70%;
  margin-block: 1rem;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.call-me a {
  background: white;
  color: black;
  padding: 0.85rem;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.left-Card {
  color: black;
  background-color: var(--primColor);
  width: 70%;
  height: 40%;
  border-radius: 10px;
  justify-content: space-around;
  margin-block: 6rem;
  position: relative;
}

.image-Portion {
  flex-basis: 60%;
}

.image-Portion img {
  max-width: 70%;
  display: block;
  position: absolute;
  bottom: -20%;
  left: -15%;
}

.text-Portion {
  flex-basis: 40%;
  flex-direction: column;
  text-align: start;
  justify-content: space-around;
}

.text-Portion a {
  color: black;
  text-decoration: underline;
  font-family: var(--orderFont);
}

.right-Hero-Section {
  flex-basis: 60%;
}

.right-Card {
  background-color: var(--secondColor);
  width: 78%;
  border-radius: 10px;
  height: 50%;
  justify-content: space-around;
  z-index: 1;
}

.circle {
  position: relative;
}

.exploremore img {
  width: 8.75rem;
  height: 8.75rem;
  position: absolute;
  right: -29px;
  top: -38%;
  filter: invert(100);
  animation: rotate 10s linear infinite;
  z-index: 2;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.text-Portion2 {
  justify-content: space-around;
  flex-direction: column;
}

.text-Portion2 p {
  line-height: 30px;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-family: var(--orderFont);
}

.image-Portion2 img {
  max-width: 100%;
  position: absolute;
  right: 18%;
  bottom: 39%;
}

.right-Card-Text {
  font-family: var(--orderFont);
  padding-block: 1rem;
}

.right-Card-Text p {
  padding-block: 1rem;
  line-height: 1.7rem;
  text-align: justify;
}

.tapToTop {
  position: fixed;
  height: 80px;
  width: 40px;
  border-radius: 30px;
  bottom: 35px;
  right: 60px;
  border: 2px solid wheat;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.tapToTop span {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

span.active {
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.tapToTop.active {
  pointer-events: auto;
  opacity: 1;
  z-index: 1000;
  transition: all 0.4s;
}

article {
  margin-block: 2rem;
}

.left-aricle {
  width: 40%;
  padding: 50px;
  flex-direction: column;
}

.left-aricle h2,
p {
  padding-block: 1rem;
  font-family: var(--orderFont);
}

.left-aricle p {
  line-height: 1.5rem;
  text-align: justify;
}

section {
  justify-content: center;
  align-items: center;
}

section ul li {
  font-family: var(--orderFont);
}

section ul li h3 {
  font-family: var(--mainFont);
}

.left-article-ul-1,
.left-article-ul-2 {
  padding: 0.25rem;
}

.left-article-ul-1 > * {
  padding-block: 0.25rem;
}

.left-article-ul-2 > * {
  padding-block: 0.25rem;
}

.right-aricle {
  width: 40%;
}

.right-aricle img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  background-position: center;
  padding: 1rem;
}

/* CONTACT */
.contact {
  margin-block: 2rem;
  text-align: center;
  gap: 2rem;
}

.contact-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media {
  flex-basis: 40%;
}

#contact-tital {
  font-size: 40px;
  border: 2px solid white;
  border-radius: 8px;
  color: var(--fontColor);
  margin-top: 2rem;
  text-align: center;
}

.dp img {
  width: 10vw;
  object-fit: cover;
  padding-right: 2rem;
}

.semi-circle {
  margin: 5px;
  background-color: var(--bgColor1);
  width: 10rem;
  height: 5rem;
  border-radius: 10rem 10rem 0 0;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.antisemi-circle {
  width: 10rem;
  height: 5rem;
  margin: 5px;
  background-color: #25d366;
  border-radius: 0 0 10rem 10rem;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.antisemi-circle:hover,
.semi-circle:hover {
  transform: scale(1.1);
}

i {
  font-size: 3rem;
  color: white;
}

/* TESTIMONIAL ARTICLE SECTION */
.article {
  height: 100%;
  width: 100%;
  font-family: var(--orderFont);
  background: rgb(53, 19, 19);
  background: linear-gradient(
    180deg,
    rgba(53, 19, 19, 0.9809173669467787) 40%,
    rgba(59, 89, 152, 1) 100%
  );
}

.t-card {
  border-radius: 8px;
  margin-block: 0.5rem;
  width: 100%;
}

.one {
  color: black;
  background: #b4f8c8;
}

.two {
  color: #b4f8c8;
  background: #424651;
}

.three {
  color: #b4f8c8;
  background: #3b0918;
}

.four {
  color: black;
  background: #f3e1c0;
}

.five {
  color: #b4f8c8;
  background: #69124a;
}

.tital-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}

.tital-section img {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  object-fit: cover;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.tital-section_tital h5 {
  opacity: 0.7;
}

.testimonial-section p {
  padding: 0.5rem;
  line-height: 1.5rem;

  word-spacing: 0.1rem;
}

/* FEATURE_SECTION */
.feature {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  padding-top: 5%;
  background-color: var(--bgColor1);
  color: var(--bgColor);
}

.feature_textSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-basis: 20%;
  margin-left: 10%;
}

.feature_textSection > * {
  padding-inline: 2rem;
}

.feature_textSection p {
  line-height: 1.5rem;
  text-align: justify;
}

.feature_textSection > :nth-child(2) {
  padding-block: 3rem;
  text-align: start;
  line-height: 2rem;
}

.feature_section {
  flex-basis: 70%;
  margin: 1rem;
  width: 100%;
  background: #344f88;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  padding: 2rem;
  overflow: hidden;
}
footer {
  background-color: white;
  color: #3b0918;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-tital {
  text-align: center;
  letter-spacing: 0.2rem;
}

hr {
  margin-bottom: 2rem;
}

.txt_h1,
.txt_h3 {
  text-align: center;
  font-weight: 600;
}

.txt_button {
  padding: 0.7rem;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  background-color: #381333;
  color: #e9d8e1;
  border-radius: 2px;
  cursor: pointer;
}
.txt_button:hover {
  transition: 0.5s ease-in-out;
  background-color: #6c2663;
}

.txt_button-m {
  padding: 0.7rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  color: #381333;
  cursor: pointer;
  border-radius: 2px;
}
.txt_button-m:hover {
  background-color: #381333;
  color: #e9d8e1;
  transition: 0.5s ease-out;
}

.mirror {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #381333;
  font-family: var(--orderFont);
}

.contain {
  width: 100%;
  height: 100%;
}

.box {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-basis: 50%;
  border-radius: 2.5px;
  background-color: var(--cardBg);
  transition: transform 0.7s ease-in-out;
}
.card:hover .img {
  transform: scale(1.1);
}
.middle:hover .img {
  transform: scale(1.1);
}

.middle {
  border-radius: 2.5px;
  background-color: var(--cardBg);
  display: flex;
  flex-direction: column-reverse;
  width: 80%;
  transition: transform 0.7s ease-in-out;
}

.txt {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.txt-m {
  display: flex;
  flex-basis: 50%;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.img {
  width: 100%;
  flex-basis: 50%;
  transition: transform 0.7s ease-in-out;
}

.img img {
  width: 100%;
}
